<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="32768" maxQueryString="32768" />

        <fileExtensions allowUnlisted="false">
          <add fileExtension="." allowed="true" />
          <add fileExtension=".css" allowed="true" />
          <add fileExtension=".gif" allowed="true" />
          <add fileExtension=".htm" allowed="true" />
          <add fileExtension=".html" allowed="true" />
          <add fileExtension=".ico" allowed="true" />
          <add fileExtension=".jpeg" allowed="true" />
          <add fileExtension=".jpg" allowed="true" />
          <add fileExtension=".js" allowed="true" />
          <add fileExtension=".json" allowed="true" />
          <add fileExtension=".pdf" allowed="true" />
          <add fileExtension=".png" allowed="true" />
          <add fileExtension=".svg" allowed="true" />
          <add fileExtension=".woff" allowed="true" />
          <add fileExtension=".xlsm" allowed="true" />
          <add fileExtension=".xlsx" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>

  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
          <!-- IIS is better for serving static files than the built-in ASP.NET Core
               static file server. Rewrite requests for static resources so that IIS
               can handle these directly (see the <handlers> section below):
           -->
          <rule name="wwwroot-static" stopProcessing="true">
            <match url="([\S]+[.](html|htm|svg|ico|json|js|css|png|gif|jpg|jpeg|woff|pdf|xlsm|xlsx))" />
            <action type="Rewrite" url="wwwroot/{R:1}" />
          </rule>

          <!-- Rewrite the site's base path to the client application's entrypoint
               file so that IIS doesn't pass it to the ASP.NET Core application:
           -->
          <rule name="empty-root-index" stopProcessing="true">
            <match url="^$" />
            <action type="Rewrite" url="wwwroot/index.html" />
          </rule>

          <!-- Forward all virtual, non-API endpoints to the client application's
               entrypoint so that the client can take over the routing:
           -->
          <rule name="client-side-routing" stopProcessing="true">
            <match url=".*" />
              <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                <add input="{REQUEST_URI}" pattern="^.*/api/" negate="true" />
              </conditions>
            <action type="Rewrite" url="wwwroot/index.html" />
          </rule>
        </rules>
      </rewrite>

      <handlers>
        <add name="StaticFileModuleHtml" path="*.htm*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleSvg" path="*.svg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleIco" path="*.ico" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleJson" path="*.json" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleJs" path="*.js" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleCss" path="*.css" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleJpeg" path="*.jpeg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleJpg" path="*.jpg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModulePng" path="*.png" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleGif" path="*.gif" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleWoff" path="*.woff" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModulePdf" path="*.pdf" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleXlsm" path="*.xlsm" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleXlsx" path="*.xlsx" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>

      <aspNetCore processPath="dotnet" arguments=".\asp_net_core_template.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>

  <!-- Suggest that browsers do not cache static resources by default. -->
  <location path="wwwroot">
    <system.webServer>
      <staticContent>
        <!-- This configures IIS to send "Cache-Control: no-cache" headers for any
             static resources. Browsers should never cache the index.html files of
             the SPA. We refine caching settings for specific resources below.
         -->
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>

  <!-- Suggest that browsers cache the site icon for 7 days. -->
  <location path="wwwroot/favicon.ico">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>

  <!-- Suggest that browsers cache generated JavaScript bundles for 7 days. -->
  <location path="wwwroot/_client">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
